<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather for travel planning</title>
</head>

<body>

    <main>

        <!-- user input form -->
        <section id="formSection">
            <div id="formInfo">
                <h1>Planning a trip?</h1>
            </div>
            <form>
                <div id="formInputs">
                    <h2>Get a 7-day forcast and info about your destination:</h2>
                    <label for="cityName">Destination:</label>
                    <input type="text" id="cityName" name="cityName" placeholder="(country, region, city, or zipcode)"
                        required>
                    <label for="destDate">Date:</label>
                    <input type="datetime-local" id="destDate" name="destDate" placeholder="mm/dd/yyyy" required>
                    <input type="submit" id="sub" value="Submit">
                </div>
            </form>
        </section>

        <section id="outputSection" class="hideSection">
            <!-- destination info -->
            <div id="destInfo">
                <div id="destTxt">
                    <h3 id="outputHeader"></h3>
                </div>
                <div id="destPic"></div>
            </div>
            <div id="forcastHead"></div>
            <div id="weatherOutput">
            </div>

            <!-- attributions -->
            <div id="ref">
                <div id="pixaBayAtt">
                    <p>Destination images provided by <a href="www.pixabay.com">pixabay.com</a></p>
                    <div id="pixaBayLogo"></div>
                </div>
                <div id="geoRef">
                    <p>Location data from <a href="www.geonames.org">geonames.org</a></p>
                    <div id="geoCC"><a href="https://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License"
                                src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a>
                    </div>
                </div>
                <div id="weatherAtt">
                    <p>Weather data provided by <a href="www.weatherbit.io">weatherbit.io</a></p>
                    <div id="weatherCC"><img alt="Creative Commons License"
                            src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"></div>
                </div>
            </div>

        </section>

    </main>

    <script>
        /*         // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                } */
    </script>
</body>

</html>