<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather for travel planning</title>
</head>

<body>

    <main>
        <!-- user input form -->
        <section id="formSection">
            <div id="formHolder">
                <h1><span id="time"></span><br>going on a trip?</h1>
                <div id="formAligner">
                    <form>
                        <div id="formText">
                            <p>Get a current 7-day</p>
                            <h2>Weather Forcast</h2>
                            <p>for your destination</p>
                        </div>
                        <div id="formInputs">
                            <input type="text" id="cityName" name="cityName"
                                placeholder="Enter country, city, OR zipcode" required>
                            <input type="submit" id="sub" value="GO">
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- destination info output area -->
        <section id="outputSection" class="hideSection">
            <div id="destInfo">
                <div id="weatherOutput">
                </div>
            </div>
        </section>
    </main>
    <!-- API attributions/references -->
    <footer>
        <div id="ref" class="hideSection">
            <div id="pixaBayAtt" class="refBox">
                <p>Destination images provided by <a href="www.pixabay.com">pixabay.com</a></p>
            </div>
            <div id="geoRef" class="refBox">
                <p>Location data from <a href="www.geonames.org">geonames.org</a></p>
            </div>
            <div id="weatherAtt" class="refBox">
                <p>Weather data provided by <a href="www.weatherbit.io">weatherbit.io</a></p>
            </div>
        </div>
    </footer>
</body>

</html>