@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import './form.scss';
@import './output.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Verdana, sans-serif;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    padding: 0;
    margin: 0;
}

.hideSection {
    display: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    margin: 0;
    font-size: 0.8rem;
}

footer.day {
    background-color: rgb(187, 233, 255);
    color: #000;
}

footer.night {
    background-color: rgb(51, 51, 51);
    color: #fff;
}