#outputSection {
    padding-top: 1rem;
    background-color: #000;
    color: #fff;

    #destInfo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 80vh;
        #destTxt {
            position: relative;
            top: 0%;
            left: 0;
        }
    }

    #weatherOutput {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;
        margin: 1rem auto 0 auto;
        background-color: rgba(51, 51, 51, 0.5);
        .forcastHead {
            text-align: center;
           width: 100%;
        }
        .weatherCard {
            background-color: rgba(51, 51, 51, 0.75);
            padding: clamp(0.15rem, 5vw, 1rem);
            width: clamp(7rem, 15vw, 12rem);
            text-align: center;
            border-radius: 0.25rem;
            font-size: 80%;
            .icon {
                width: clamp(3rem, 5vw, 7rem);
            }
        }
    }

}